.about_me{
    width: 100%;
    background-image: url("../assets/app/mobile-texture.jpg");
    background-size: cover;
    display: flex;
    align-items: center;     
}

.contain{
    display: block;
    margin: 0 auto;
    margin-top: 1rem;     
    text-align: center;

    p{
        margin: 0 2rem 1rem ;
        max-width: 35rem;
        min-width: 300px;
    }
}