.progress{
    --progress:0%; 
    max-width: 400px;
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
    margin: 1rem auto;
    box-shadow: 0 0 4px rgb(122, 122, 122) ;
     

}


.p20{
    --progress:20%; 
}

.p30{
    --progress:30%;
}

.p50{
    --progress:50%; 
}

.p100{
    --progress:100%
}


.text{
    position: absolute;
    z-index: 20;
    padding: 0 auto;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    color: var(--secondary-text-color);
    
}
.bar{    
    background: grey ;
    height: 100%;
        
}

.progress-value{
    width: var(--progress);
    height: 48px;
    background-color: var(--secondary-brand-color);
    box-shadow: 0 0 10px gray;
    animation: progress 3s linear;
    animation-fill-mode: forwards;
   
    
    
}

@media screen and (prefers-reduced-motion: no-preference) {

    @keyframes progress {
      0% {
        width: 0%;        
      }
      100% {
        width: var(--progress);
      }
    } }
