.form_element {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    text-align: start;

    label {
        margin-bottom: 0.5rem;
    }

    .input {
        padding: 1rem;
        border-radius: 5px;
        border: none;
        background-color: whitesmoke;
        cursor: pointer;


    }

}

.btn {
    border-radius: 10%;
    color: white;
    padding: 5px 10px;
    background-color: var(--secondary-brand-color);
}


@media screen and (width > 768px) {

    .contain {
        margin: 2rem auto;

        h1 {
            margin-bottom: 1rem;
        }


    }

    .formulario {

        display: grid;
        grid-template-columns: 15vh 15vh 15vh 15vh;
        grid-template-rows: 80px 80px 105px 65px 80px;
        gap: 4px 10px;

        justify-content: center;


        grid-template-areas:
            "name name last_name last_name "
            "phone_number phone_number git_tag git_tag"
            "know know about about"
            "know know about about"
            "newsletter newsletter buttons buttons ";


    }

    #name {
        grid-area: name;
    }

    #last_name {
        grid-area: last_name;
    }

    #phone_number {
        grid-area: phone_number;
    }

    #git_tag {
        grid-area: git_tag;
    }

    #know {
        grid-area: know;
    }

    #about {
        grid-area: about;
    }

    #news-letter {
        grid-area: newsletter;
        align-items: center;
        margin-top: -6px;

    }

    #buttons {

        grid-area: buttons;
        align-items: center;

        .btn {
            margin-top: -10px;
            cursor: pointer;
            transition: all;
            transition-duration: 1s;

        }

        .btn.secondary {
            margin-right: 1rem;



        }

    }

    .btn:hover {

        background-color: var(--tertiary-brand-color);
        color: black;

    }

    .btn.secondary:hover {
        background-color: gray;
        color: rgb(255, 255, 255);




    }

}